
Builds/MacOSX/SmartAss\.xcodeproj/xcuserdata/

Builds/MacOSX/SmartAss\.xcodeproj/project\.xcworkspace/xcuserdata/

Builds/iOS/SmartAss\.xcodeproj/xcuserdata/

Builds/iOS/SmartAss\.xcodeproj/project\.xcworkspace/xcuserdata/

Builds/MacOSX/build/Debug/

Builds/MacOSX/build/Release/

Builds/iOS/build/Debug/

Builds/iOS/build/Release/

Builds/iOS/Smart A.S.xcodeproj/project.xcworkspace/xcuserdata/Shimla.xcuserdatad/

Builds/iOS/Pixel Viewer.xcodeproj/project.xcworkspace/xcuserdata/

Builds/iOS/ScreenView.xcodeproj/project.xcworkspace/xcuserdata/
