
Builds/MacOSX/SmartAss\.xcodeproj/xcuserdata/

Builds/MacOSX/SmartAss\.xcodeproj/project\.xcworkspace/xcuserdata/

Builds/iOS/SmartAss\.xcodeproj/xcuserdata/

Builds/iOS/SmartAss\.xcodeproj/project\.xcworkspace/xcuserdata/
